* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:  Helvetica, sans-serif;
}

/* COMMON */

.active {
    text-decoration: none;
    color: white;
}

.spacer::before, .spacer::after {
    content: '';
    height: 0.25em;
    width: 7.5em;
    border-radius: 3em;
    margin: 1em;
    background: white;
}

#contact_me .spacer::before,
#contact_me .spacer::after,
#portfolio .spacer::before,
#portfolio .spacer::after {
    background: black;
}

/* COMMON */

.home_box{
    width: 100vw;
    height: 100vh;
}

header{
    height: 80px;
}

header .container-fluid{
    background: #2c3e50;
    color: white;
    position: fixed;
    z-index: 1050;
    height: 80px;
}


header #hamburger {
    position: relative;
    display: none;
    color: white;
    margin-right: 3px;
    width: 100%;
}

header #hamburger .support-info {
    position: absolute;
    top: 63px;
    right: 0;
    width: 120px;
    display: none;
    line-height: 40px;
    background-color: white;
}
 
header #hamburger:active .support-info {
    display: inline-block;
    background:#3a546d;
}

#jumbo {
    background:#57c7c2;
    color: white;
}

.img_portfolio {
    width: 100%;
}

#portfolio .img-hover-button {
    position: relative;
    width:100%;
}

#portfolio .img-hover-button .fa-dragon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 4.5em;
    display: none;
    z-index: 1;
    color: white;
}

#portfolio .img-hover-button .background-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}
#portfolio .img-hover-button:hover .fa-dragon {
    display:inline-block;
}

#portfolio .img-hover-button:hover .background-effect {
    background-color: rgba(0, 100, 100, 0.6);
    transition-duration: 0.4s;
    transition-timing-function: ease;
    border-radius: 5px;
}

#about{
    background:#57c7c2;
    color: white;
}   

#contact_me #contact_button button {
    background: #1abc9c;
    color: #fff;
}

#top_footer {
    background: #3a546d;
    color: white;
}

footer #footer_icon i {
    width: 35px;
    height: 35px;
}

#bottom_footer {
    background: #2c3e50;
    color: white;
}

@media (max-width:575px) {
    
    #top_footer #footer_icon {
        padding: 20px 0;
    }
}

@media (max-width: 768px) {

    header #hamburger{
        display: inline-block;
    }

    header #navbar_icon{
        display: none;
    }
}