* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:  Helvetica, sans-serif;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

header .container-fluid{
    background: #2c3e50;
    color: white;
}

#jumbo {
    background:#57c7c2;
    color: white;
}

#jumbo_img {
    width: 100%;
}

.img_portfolio {
    width: 100%;
}

#about{
    background:#57c7c2;
    color: white;
}   

#contact_message {
    min-height: 150px;
    resize: vertical;
    overflow: hidden;
}

#contact_button button {
    background: #1abc9c;
    color: #fff;
}

#top_footer {
    background: #3a546d;
    color: white;
}

#footer_icon i {
    width: 35px;
    height: 35px;
}

#bottom_footer {
    background: #2c3e50;
    color: white;
}

@media (max-width:575px) {
    
    #top_footer #footer_icon {
        padding: 20px 0;
    }

    #portfolio .container-fluid,
    #portfolio .container {
        padding: 0;
    }
}