* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


.img_jumbo{
    height: 300px;
    background-color: darkred;
}

.img_portfolio{
    background-color: tomato;
    height: 150px;
}

.text_about{
    background-color: teal;
}

.contact_message {
    min-height: 150px;
    resize: vertical;
    overflow: hidden;
}

#contact_button button {
    background: #1abc9c;
    color: #fff;
}

.top_footer {
    background: #3a546d;
    color: white;
}

.footer_icon i {
    width: 35px;
    height: 35px;
}

.bottom_footer {
    background: #2c3e50;
    color: white;
}
